<h2>Productos en tiempo real</h2>
<hr>
<a href="/">volver</a>
<hr>

<ul>
    {{#each resultado}}
    <div>
        <h4>{{this.producto}}</h4>
        <p>Descripcion: {{this.descripcion}} - Precio: {{this.precio}}</p>
    </div>
    {{/each}}
</ul>

<script src="socket.io/socket.io.js"></script>
<script src="js/real-time-products.js"></script>